/* Base Spotify-themed style */
body {
  background-color: #000000;
  color: #fff;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.h2, .h3, .h4, .h5, .h6, h2, h3, h4, h5, h6 {
  margin-bottom: 1.5rem;
  font-weight: 600;
}

.container {
  max-width: 600px;
  background-color: #000000;
  padding: 20px;
  border-radius: 8px;
  margin: 50px auto;
}

/* Headings */
h1, h4 {
  color: #1DB954;
  text-align: center;
  font-weight: 600;
}

/* Form controls */
.form-control {
  background-color: #555;
  color: #fff;
  border: none;
}

.form-control::placeholder {
  color: #bbb;
}

/* Buttons */
.btn-primary {
  background-color: #1DB954;
  border-color: #1DB954;
  border-radius: 50px;
}

.btn-primary:hover {
  background-color: #17a44d;
  border-color: #17a44d;
}

.btn-secondary {
  background-color: #555;
  border: none;
  border-radius: 50px;
  color: #fff;
}

.btn-secondary:hover {
  background-color: #777;
}

/* List styling for user songs and recommendations */
#songList li, .recommendation-item {
  padding: 8px;
  margin-bottom: 5px;
  background-color: #333;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* Play button for recommendations */
.play-btn {
  background-color: #1DB954;
  border: none;
  border-radius: 50%;
  padding: 5px 8px;
  color: #fff;
  cursor: pointer;
  margin-left: 10px;
}

.play-btn:hover {
  background-color: #17a44d;
}

/* Responsive styles for mobile devices */
@media (max-width: 768px) {
  .container {
    width: 90%;
    padding: 15px;
    margin: 20px auto;
  }

  h1, h4 {
    font-size: 1.5em;
  }

  .btn-primary, .btn-secondary {
    /* width: 100%; */
    padding: 10px;
  }

  .form-control {
    padding: 8px;
  }
}
